*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: auto;
}

header{
  font-size: 3rem;
  padding: 4rem 0;
}

main{  
  background-color: rgb(32, 35, 41);;
  padding: 6rem 0;
}

section{  
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-content: center;
}

.character{
  background-color:#38424b;
  border: 2px solid black;
  color: aliceblue;
  border-radius: 14px;
  overflow: hidden;
  

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

img{
  width: 40%;
  display: block;
  
}

.details{
  width: 60%;
  font-size: 1rem;
  font-weight: bold;
  border-spacing: 1rem;

  display: flex;
  flex-direction: column;
  gap:1rem;

}


@media screen and (min-width: 769px) and (max-width:1024px) {
  .container{
    width: 100%;
    background-color: blueviolet;
  }

  header{
    padding: 1.5rem;
    font-size: 1.7rem;
  }

  main{
    width: 100%;
    
  }

  section{
    width: 90%;
  }
  
  .details{
    font-size: 0.75rem;
  }
}

@media screen and (max-width:768px) {
  .container {
    width: 100%;
    background-color: burlywood;
  }

  header {
    padding: 1rem;
    font-size: 1rem;
  }

  main {
    width: 100%;
  }

  section {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }

  .details {
    font-size: 1rem;
  }
}
    @media screen and (max-width:460px) {
      .container {
        width: 100%;
        background-color: burlywood;
      }
  
      header {
        padding: 1rem;
        font-size: 0.70rem;
      }
  
      main {
        width: 100%;
        padding: 3rem 0;
      }
  
      section {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
      }

      .character{
        flex-direction: column;
        padding: 1rem;
      }

      img{
        width: 100%;
      }
  
      .details {
        padding: 1rem 0 0 0;
        font-size: 1rem;
      }
  }
